<div class="container-fluid" id="grocery-form">
  <button class="btn btn-success" (click)="addRow()">Add Row</button>
  <button class="btn btn-danger" (click)="deleteRow()">Delete Row</button>

  <div class="input-group" *ngFor="let group of groups">
    <span class="input-group-addon">Category</span>
    <input type="text" class="form-control" placeholder="category" name="category" id="category{{group}}">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control" placeholder="amount" name="amount" id="amount{{group}}">
  </div>
  <div class="panel panel-default">
    <div class="panel-body">Result : </div>
</div>
</div>

