.total {
    border-radius: 5%;
    margin: 30px auto;
    text-align: center;
    width: 40%;
}

#total-income,
#total-expense {
    display: inline-block;
}

#income-expense-container {
    text-align: center;
}

#total-income {
    background-color: #16a085;
    color: white;
}

#total-expense {
    background-color: #c0392b;
    color: white;
}

#extra {
    border: 2px solid #34495e;
    background-color: #bdc3c7;
}