#main-container {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/images/expenses.svg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    filter: drop-shadow(10)
}

#title {
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
}