<div style="display: inline-block; width: 40%" id="income-container">
    <button style="width: 150px; position:relative; left: 150px; " *ngIf="!viewOn" class="btn btn-lg btn-primary" (click)="openView()">
        <i class="fa fa-plus-circle fa-3x pull-left"></i>Add <br>income</button>

    <div style="display: inline-block" *ngIf="viewOn">
        <h3> Enter Income</h3>
        <form>


            <div class="input-group centered">
                <label for="category">Category:</label>
                <select class="form-control" name="category" [(ngModel)]="income.category">
                    <option>Salary</option>
                    <option>Deposits</option>
                    <option>Savings</option>
                    <option>Bonus</option>
                    <option>Rent</option>
                    <option>Other</option>
                </select>
            </div>

            <div class="input-group col-md-6 centered">
                <span class="input-group-addon">EGP</span>
                <input type="number" class="form-control" placeholder="amount" name="amount" [(ngModel)]="income.amount" required>
                <span class="input-group-addon ">LE</span>

            </div>

            <button class="btn btn-success btn-block " type="submit " (click)="onSubmit() ">Add Income</button>
        </form>
    </div>
</div>