<div id="main-container">
    <h3>Login</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="userToBeLogged.email" required>
            </div>
            <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="userToBeLogged.password" required>
            </div>
            <span id="password-error" *ngIf="wrongEmailPassword">Incorrect Email or Password </span>

        </div>

        <button class="btn btn-primary btn-block " type="submit"><i class="fa "></i>Login</button>
        <a (click)="onClick()">Create account</a>
        <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    </form>
</div>