.total {
    border-radius: 5%;
    text-align: center;
    margin-top: 2px;
    margin-right: 2px;
}

#results-container {
    text-align: center;
}

#income-expense-container {
    text-align: center;
}

#total-income {
    background-color: #16a085;
    color: white;
}

#total-expense {
    background-color: #c0392b;
    color: white;
}

#extra {
    background-color: #bdc3c7;
    border: 1px solid #bdc3c7;
}

#report {
    height: 100px;
    width: 150px;
    border-radius: 50px;
}