.expense-amount {
    text-align: right;
}

.expense-name {
    text-align: left;
}

.thead-expense {
    background-color: #c0392b;
    color: white;
}

.thead-income {
    background-color: #16a085;
    color: white;
}

#expense-container {
    border: 1px solid #c0392b;
    border-radius: 10px;
    padding: 0;
    margin: 10px;
}

#income-container {
    border: 1px solid #16a085;
    border-radius: 10px;
    padding: 0;
    margin: 10px;
}

table th {
    border: none;
}

.total {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.4em;
}

#total-expense {
    background-color: #c0392b;
}

#total-income {
    background-color: #16a085;
}

#extra-cash {
    background-color: grey;
    border-radius: 5px;
}

.form-control {
    width: 75px;
    display: inline-block;
    height: 27px;
}

.form-control:disabled {
    cursor: default;
    border: none;
    background-color: white;
    box-shadow: none;
}

button {
    margin-right: 5px;
}