<div id="main-container">
    <h3>Create account</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="First Name" name="first-name" [(ngModel)]="userToBeAdded.firstName" required>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Last Name" name="last-name" [(ngModel)]="userToBeAdded.lastName" required>
            </div>
            <div class="col-md-12">
                <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="userToBeAdded.email" required>
                <span id="email-error" *ngIf="emailUnAvailable">Email is already taken</span>
            </div>
            <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="userToBeAdded.password" required>
            </div>

        </div>

        <button class="btn btn-primary btn-block " type="submit"><i class="fa "></i>Create Account</button>
        <a (click)="onClick()">Already have account</a>

        <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    </form>
</div>