<div id="main-container">
    <h3>Create account</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="First Name" name="first-name" [(ngModel)]="userToBeAdded.firstName">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Last Name" name="last-name" [(ngModel)]="userToBeAdded.lastName">
            </div>
            <div class="col-md-12">
                <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="userToBeAdded.email">
            </div>
            <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="userToBeAdded.password">
            </div>

        </div>

        <button class="btn btn-primary btn-block " type="submit"><i class="fa "></i>Create Account</button>
        <a (click)="onClick()">Already have account</a>
    </form>
</div>