<div id="main-container">
    <h3>Create account</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-md-12">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Password">
            </div>

        </div>

        <button class="btn btn-primary btn-block " type="submit"><i class="fa "></i>Create Account</button>
        <a (click)="onClick()">Already have account</a>
    </form>
</div>