.centered {
    margin: 0 auto;
    width: 90%;
}

.input-group {
    margin-bottom: 30px;
}

form {
    padding: 30px;
    background-color: white;
}

button {
    background-color: #c0392b;
}

i {
    margin-right: 10px;
}